<tr class="tree-view-empty-row">
  <td class="tree-view-empty-row__cell" colspan="999">
    <div class="tree-view-empty-row__content" data-tree-view-empty-state="true">
      <span class="tree-view-empty-row__message"><%= empty_message %></span>
    </div>
  </td>
</tr>
