<% selection_visible = local_assigns.fetch(:selection_visible, true) %>

<td class="tree-selection-cell">
  <% if selection_visible %>
    <% selection_disabled = tree_selection_disabled?(item, selection_disabled_builder) %>
    <% selection_disabled_reason = tree_selection_disabled_reason(item, selection_disabled_reason_builder) %>
    <% selection_checked = tree_selection_checked?(item, tree, selection_selected_keys) %>
    <% selection_payload = tree_selection_payload(item, tree, selection_payload_builder) %>
    <% selection_value = JSON.generate(selection_payload) %>

    <%= check_box_tag selection_checkbox_name,
                      selection_value,
                      selection_checked,
                      id: tree_selection_checkbox_dom_id(item),
                      class: "tree-selection-checkbox",
                      disabled: selection_disabled,
                      title: selection_disabled_reason,
                      aria: { label: tree_context_menu_label(item) },
                      data: {
                        tree_selection_payload: selection_payload,
                        tree_selection_disabled_reason: selection_disabled_reason
                      } %>
  <% end %>
</td>
