/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */


@import './bootstrap';
@import './tree_view';
@import './attributes';
@import './button';
@import './checkbox';
@import './cursor';
@import './form';
@import './notice';
@import './popover';
@import './radio';
@import './sample_crud';

html{
  height: 100%;
}

body{
  min-height: 100%;
}

@for $i from 1 through 20 {
  .vw-#{$i * 5} { width: #{$i * 5}vw !important; }
  .vh-#{$i * 5} { height: #{$i * 5}vh !important; }

  .min-vw-#{$i * 5} { min-width: #{$i * 5}vw !important; }
  .min-vh-#{$i * 5} { min-height: #{$i * 5}vh !important; }

  .max-vw-#{$i * 5} { max-width: #{$i * 5}vw !important; }
  .max-vh-#{$i * 5} { max-height: #{$i * 5}vh !important; }
}

.flex-gap-1{
  gap: 0.25rem !important;
}

.flex-gap-2{
  gap: 0.5rem !important;
}

[v-cloak]{
  display: none;
}
